.aboutMeSection{
    display: flex;
    flex-direction: row;
}

.aboutMeHeader{
    height: 75vh;
    width: 35%;
    background-color: hsl(0, 0%, 27%);
    border-radius: 0px 100px 100px 100px;
    position: relative;
    padding: 50px;
    margin: 0;
    display: flex;
}

.aboutMeHeaderSectionNum{
    font-family: "Teko", serif;
    color: #FFFBE8;
    font-size: 15em;
    position: absolute;
    margin: 0;
    transform: translate(0, -23.1%);
}

.aboutMeHeaderText{
    font-family: "Gothic A1", serif;
    font-weight: 900;
    color: #FFFBE8;
    font-style: normal;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: end;
    position: absolute;
    font-size: 6em;
    margin: 0;
    right: 0;
    margin-right: 50px;
}

.aboutMeColorCode{
    font-family: "Teko", serif;
    color: #FFFBE8;
    font-size: 3rem;
    position: absolute;
    bottom: 0;
    right: 0;
    text-decoration: underline;
    margin-right: 50px;
}

.aboutMeContent{
    height: 100%;
    background-color: #FFFBE8;
    border-radius: 100px;
    padding: 50px;
}

.aboutMeContentBackground{
    border-radius: 100px 0px 100px 100px;
    width: 65%;
    background-color: #910118;
}

.aboutMeText{
    font-family: "Gothic A1", serif;
    font-weight: 900;
    color: hsl(0, 0%, 27%);
    font-style: normal;
    font-size: 4em;
}

.test{
    background-color: black;
    width: 100%;

}