.section{
  display: grid;
  
}

.navbar{
  height: 100vh;
  position: sticky;
  top: 0px;
  background-color: hsl(0, 0%, 20%);
}

body{
  margin: 0px;
}

.content{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #D1D1D1;
}

.menulist{
  background-color: hsl(0, 0%, 20%);
}

.section-bg{
  height: 50vh;
  background-color: black;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 9998;
}

.aboutme{
  display: flex;
  flex-direction: row;
  height: 75vh;
  grid-area: 1/1;
}

.aboutme-1-1{
  width: 50%;
  background-color: hsl(0, 0%, 27%);
  border-radius: 0px 100px 100px 100px;
  padding: 50px;
  position:relative;
}

.aboutme-1-2{
  width: 50%;
  background-color: #FFFBE8;
  border-radius: 100px 100px 100px 0px;
  padding: 50px;
}

.aboutme-2-1{
  width: 50%;
  background-color: #FFFBE8;
  border-radius: 100px 0px 100px 100px;
  padding: 50px;
}

.aboutme-2-2{
  width: 50%;
  background-color: hsl(0, 0%, 27%);
  border-radius: 100px 100px 0px 100px;
  padding: 50px;
}

.aboutme-overlay{
  grid-area: 1/1;
  height: 75vh;
  display: flex;
}

.aboutme-overlay-filler{
  width: 25%;
  height: 75vh;
}
.aboutme-overlay-1-2{
  width: 25%;
  height: 75vh;
  background-color: #FFFBE8;
  border-radius: 0px 100px 0px 100px;
}

.aboutme-overlay-1-4{
  width: 25%;
  height: 75vh;
  background-color: #910118;
  border-radius: 100px 0px 100px 0px;
}

.aboutme-overlay-2-3{
  width: 25%;
  height: 75vh;
  background-color: #FFFBE8;
  border-radius: 0px 100px 0px 100px;
}

.aboutme-header{
  font-family: "Gothic A1", serif;
  font-weight: 900;
  color: #FFFBE8;
  font-style: normal;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 6em;
  position: absolute;
  text-align: center;
  right: 0;

}

.aboutme-section{
  font-family: "Teko", serif;
  color: #FFFBE8;
  font-size: 15em;
  position: absolute;
  margin: 0;
  top: 0;
  left: 1;
}

.aboutme-header-colorcode{
  font-family: 'Agency FB', sans-serif;
  color: #FFFBE8;
  font-size: 3rem;
  display: flex;
  justify-content: end;
  position: absolute;
  bottom: 0;
  right: 0.2;
  text-decoration: underline;
}
